<!doctype html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="SC8QK0AhFx-g9_9Gv_-lg4vXZPKFsPwG5Cngn-DGS7A" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <title>{{ page.title }}</title>
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- font import -->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400i" rel="stylesheet">
  </head>
  <body>
    {{ content }}
  </body>
</html>